@import url("https://fonts.googleapis.com/css2?family=Boldonse&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";
@layer base {
  html {
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
  }
}

@theme {
  --font-boldonse: "Boldonse", system-ui;
  --font-winky: "Winky Sans", system-ui;
}

.float {
  animation: floatingAnimation 2s ease-in-out infinite,
    pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.float:hover {
  animation-play-state: paused;
}

@keyframes floatingAnimation {
  0% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(-2px);
  }
}
